---
import Layout from "../layouts/Layout.astro";
import GalleryLoader from "../islands/GalleryLoader";
---

<Layout title="Community Budgets | Mesa Budget Simulator">
  <div id="main-content">
    <GalleryLoader client:load />
  </div>
</Layout>
