---
import Layout from "../layouts/Layout.astro";
import BudgetSimulator from "../islands/BudgetSimulator";
---

<Layout>
  <div id="main-content">
    <BudgetSimulator client:load />
  </div>
</Layout>
